{% extends 'base.html' %}
{% block title %}
    Login Page
{% endblock %}

{% block content %}
    <h1>Login  page</h1>
    <div class="text-center" style="width: 40%; margin: 0 auto;">
        <form class="form-signin" method="post">
          <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
          <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
          <!-- Email Input -->
          <label for="inputEmail" class="sr-only">Username</label>
          <input type="username" name="username" class="form-control" placeholder="username" value="{{request.form.username}}" required="" autofocus="">
          <!-- Password Input -->
          <div style="padding-top: 10px; padding-bottom: 10px;">
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" name="password" class="form-control" placeholder="Password" required="" value="{{request.form.password}}">
          </div>
          <!-- Remember me -->
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <!-- Sumbit Button -->
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          <!-- <p class="mt-5 mb-3 text-muted">© 2017-2018</p> -->
        </form>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>        
        {% endif %}
    </div>
{% endblock %}

